.about-us {
  padding: 30px calc(50% - 622px) 108px calc(50% - 405px);

  @media (max-width: 1200px) {
    padding: 0 25px 74px calc(50% - 320px);
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $desktop-width - 1) {
    padding: 28px 25px 82px calc(50% - 174px);
  }

  @media (max-width: $mobile-only-width) {
    padding: 18px calc(50% - 153px) 64px calc(50% - 145px);
    align-items: center;
  }
}

.about-us__wrap {
  position: relative;

  &::before {
    content: url("../img/2005.png");
    position: absolute;
    left: -210px;
    top: 5px;
  }

  @media (max-width: $desktop-width - 1) {
    &::before {
      content: url("../img/2005-tablet.png");
      left: -211px;
      top: -2px;
    }
  }

  @media (max-width: $mobile-only-width) {
    background-image: none;

    &::before {
      content: none;
    }
  }
}

.about-us h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $black-3;

  margin: 0 0 21px;

  @media (max-width: $desktop-width - 1) {
    font-size: 32px;
    line-height: 45px;

    margin: 0 0 24px;
  }

  @media (max-width: $mobile-only-width) {
    font-size: 28px;
    line-height: 31px;

    margin: 0 0 25px;
  }
}

.about-us__text-wrap {
  margin-bottom: 40px;
  width: 95%;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 20px;
    width: 100%;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 28px;
  }
}

.about-us__text-wrap p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $black-3;

  margin: 0 0 20px;

  @media (max-width: $mobile-only-width) {
    margin: 0 0 40px;

    &:last-of-type {
      margin: 0;
    }
  }
}

.about-us__text-cut-not-desktop {
  display: none;

  @media (max-width: $desktop-width - 1) {
    display: inline;
  }
}

.about-us__text-cut-desktop {
  display: inline;

  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.about-us a {
  color: $blue-1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;

  background-color: $white;

  word-break: break-word;
  text-align: center;
  border: 1px solid $blue-1;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 15px;
  display: inline-block;
  vertical-align: middle;
  width: 180px;

  &:hover {
    background-color: $blue-1;
    color: $white;
  }
}
