.about-us {


  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 calc(50% - 580px) 110px;

  @media (max-width: 1200px) {
    padding: 0 calc(50% - 488px) 110px;
  }

  @media (max-width: $mobile-only-width) {
    padding: 0;
  }
}

.about-us__wrap {
  background-image: url("../img/2005.png");
  background-repeat: no-repeat;
  background-position: left -32px bottom -2px;

  padding-left: 180px;
  padding-bottom: 10px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/2005@2x.png");
  }

  @media (max-width: $desktop-width - 1) {
    background-image: url("../img/2005-teablet.png");
    background-position: left -18px bottom 1px;

    padding-left: 195px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/2005-teablet@2x.png");
    }
  }

  @media (max-width: $mobile-only-width) {
    background-image: none;

    padding: 0 16px 10px;
  }
}

.about-us h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $black-3;

  align-self: flex-start;
  margin: 0 0 21px 0;

  @media (max-width: $mobile-only-width) {
    font-size: 28px;
    line-height: 31px;

    margin: 0 0 25px;
  }
}

.about-us__text-wrap {
  max-width: 984px;
  margin-bottom: 40px;

  @media (max-width: $desktop-width - 1) {
    max-width: 537px;
  }

  @media (max-width: $mobile-only-width) {
    width: 288px;
    margin-bottom: 28px;
  }
}

.about-us__text-wrap p {
  font-family: "PT Mono";
  font-size: 16px;
  line-height: 22px;
  color: $black-3;

  margin: 0 0 20px;

  @media (max-width: $desktop-width - 1) {
    &:nth-of-type(2) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }

  @media (max-width: $mobile-only-width) {
  margin: 0 0 40px;

  &:nth-of-type(2) {
      -webkit-line-clamp: 8;

      margin: 0;
    }
  }
}

.about-us a {
  color: $blue-1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;

  background-color: $white;

  word-break: break-word;
  text-align: center;
  border: 1px solid $blue-1;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 15px;
  display: inline-block;
  vertical-align: middle;
  width: 180px;

  &:hover {
    background-color: $blue-1;
    color: $white;
  }
}
