.about-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 calc(50% - 580px) 99px;

  @media (max-width: 1200px) {
    padding: 0 calc(50% - 488px) 74px;
  }

  @media (max-width: $desktop-width - 1) {
    padding: 0 0 84px;
    align-items: flex-end;
  }

  @media (max-width: $mobile-only-width) {
    padding: 0 0 54px;
  }
}

.about-us__wrap {
  background-image: url("../img/2005.png");
  background-repeat: no-repeat;
  background-position: left -32px bottom -2px;

  padding-left: 180px;
  padding-bottom: 10px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/2005@2x.png");
  }

  @media (max-width: $desktop-width - 1) {
    background-image: url("../img/2005-tablet.png");
    background-position: left -19px bottom -9px;

    padding: 0 21px 0 192px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/2005-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-only-width) {
    background-image: none;

    padding: 0 5px 10px 16px;
  }
}

.about-us h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $black-3;

  align-self: flex-start;
  margin: 0 0 21px;

  @media (max-width: $desktop-width - 1) {
    font-size: 32px;
    line-height: 45px;

    margin: 0 0 24px;
  }

  @media (max-width: $mobile-only-width) {
    font-size: 28px;
    line-height: 31px;

    margin: 0 0 25px;
  }
}

.about-us__text-wrap {
  max-width: 984px;
  margin-bottom: 40px;

  @media (max-width: $desktop-width - 1) {
    max-width: 538px;
  }

  @media (max-width: $mobile-only-width) {
    width: 298px;
    margin-bottom: 28px;
  }
}

.about-us__text-wrap p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $black-3;

  margin: 0 0 20px;

  @media (max-width: $mobile-only-width) {
    margin: 0 0 40px;

    &:last-of-type {
      margin: 0;
    }
  }
}

.about-us__text-cut-not-desktop {
  display: none;

  @media (max-width: $desktop-width - 1) {
    display: inline;
  }
}

.about-us__text-cut-desktop {
  display: inline;

  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.about-us a {
  color: $blue-1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;

  background-color: $white;

  word-break: break-word;
  text-align: center;
  border: 1px solid $blue-1;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 15px;
  display: inline-block;
  vertical-align: middle;
  width: 180px;

  &:hover {
    background-color: $blue-1;
    color: $white;
  }
}
