.advantages {
  padding: 110px calc(50% - 585px) 0;

  @media (max-width: $desktop-width - 1) {
    padding: 54px 24px 0;
  }

  @media (max-width: $mobile-only-width) {
    padding: 37px 16px 0 14px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 570px);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  row-gap: 30px;
  column-gap: 30px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(auto-fit, 457px);
    justify-content: center;
  }

  @media (max-width: $desktop-width - 1) {
    grid-template-columns: repeat(auto-fit, 345px);
  }

  @media (max-width: $mobile-only-width) {
    grid-template-columns: repeat(auto-fill, 290px,);
    row-gap: 20px;
  }
}

.advantages__item {
  border: 1px solid $grey-3;
  border-left: 3px solid $blue-1;
  padding: 42px 12px 66px 41px;

  cursor: pointer;

  background-color: $white;

  &:hover {
    border-color: $blue-1;
    background-color: $blue-1;
  }

  @media (max-width: $desktop-width - 1) {
    padding: 21px 21px 20px 23px;
  }

  @media (max-width: $mobile-only-width) {
    padding: 24px 13px 23px 24px;
  }
}

.advantages__item-icon-wrap {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 36px;
  margin-bottom: 17px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 7px;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 10px;
  }
}

.advantages__item h3,
.advantages__item p {
  margin: 0;
}

.advantages__item:hover h3,
.advantages__item:hover p {
  color: $white;
}

.advantages__item h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $blue-1;

  margin-bottom: 15px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-only-width) {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__item p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $black-3;

  min-height: 88px;

  @media (max-width: $desktop-width - 1) {
    min-height: 103px;
  }
}

.advantages__item svg {
  fill: $blue-1;
}

.advantages__item:hover svg {
  fill: $white;
}

.advantages__item-icon-wrap--hired svg {
  @media (max-width: $desktop-width - 1) {
    width: 32px;
    height: 32px;
  }
}

.advantages__item-icon-wrap--detective svg {
  @media (max-width: $desktop-width - 1) {
    width: 30px;
    height: 26px;
  }
}

.advantages__item-icon-wrap--tag svg {
  @media (max-width: $desktop-width - 1) {
    width: 32px;
    height: 32px;
  }
}
