.feedback {
  background-color: $blue-1;
  background-image:
    url("../img/paper-airplane.png"),
    url("../img/group-triangles.svg"),
    url("../img/triangle235x235.svg"),
    url("../img/triangle373x373.svg");
  background-repeat: no-repeat;
  background-position:
    left 25% top 161px,
    left 175px top -60px,
    right 14px top 43px,
    right bottom -20px;
  padding: 91px calc(50% - 585px) 115px;

  @media (max-width: 1440px) {
    background-image: none;
  }

  @media (max-width: $desktop-width - 1) {
    padding: 80px calc(50% - 295px) 104px;
  }

  @media (max-width: $mobile-only-width) {
    padding: 30px calc(50% - 146px) 41px;

  }
}

.feedback__wrap {


  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 1440px) {
    align-items: center;
  }

  @media (max-width: $desktop-width - 1) {
    align-items: flex-start;
  }
}

.feedback h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  margin: 0 0 10px;
  width: 570px;

  @media (max-width: $desktop-width - 1) {
    font-size: 32px;
    line-height: 45px;

    margin: 0 0 16px;
  }

  @media (max-width: $mobile-only-width) {
    font-size: 28px;
    line-height: 39px;

    width: 245px;
    margin: 0 0 14px;
  }
}

.feedback p {
  font-family: "PT Mono";
  font-size: 16px;
  line-height: 22px;

  margin: 0 0 51px;
  width: 570px;

  @media (max-width: $desktop-width - 1) {
    margin: 0 0 54px;
  }

  @media (max-width: $mobile-only-width) {
    width: 275px;
    margin: 0 0 25px;
  }
}

.feedback__form {
  min-width: 540px;

  @media (max-width: $mobile-only-width) {
    min-width: 290px
  }
}

.feedback__form-inner-up-wrap {
  display: grid;
  grid-template-columns: 270px 270px;
  column-gap: 31px;
  margin-bottom: 30px;

  @media (max-width: $desktop-width - 1) {
    grid-template-columns: 280px 280px;
    column-gap: 32px;
  }

  @media (max-width: $mobile-only-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}


.feedback__form-inner-up-wrap input,
.feedback__form textarea {
  background-color: rgba($white, 0.1);
  font-family: "PT Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;

  border: none;

  &:hover {
    outline: 1px solid $blue-2;
    outline-offset: 0;
    outline-style: auto;
  }
}

.feedback__form textarea {
  resize: none;
  padding: 11px 17px;
  margin-bottom: 42px;

  @media (max-width: $desktop-width - 1) {
    padding: 14px 46px 16px 19px;
  }

  @media (max-width: $mobile-only-width) {
    width: 290px;
    padding: 10px 46px 16px 17px;
    height: 102px;
    margin-bottom: 27px;
  }
}

.feedback__form-inner-up-wrap input {
  width: 270px;
  padding: 11px 16px 17px;
  margin-bottom: 10px;

  @media (max-width: $desktop-width - 1) {
    width: 280px;
  }

  @media (max-width: $mobile-only-width) {
    width: 290px;
    margin-bottom: 33px;
  }
}

.feedback__form-inner-up-wrap input:focus,
.feedback__form textarea:focus {
  color: $black;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  background-color: $white;
}

.feedback__form input::placeholder,
.feedback__form textarea::placeholder {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.feedback__form-inner-down-wrap {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-only-width) {
    flex-direction: column;
  }
}

.feedback__form-inner-down-wrap button {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;

  background-color: transparent;

  text-align: center;
  border: 1px solid $white;
  border-radius: 5px;
  width: 270px;
  padding: 12px 15px;

  &:hover {
    background-color: $white;
    color: $blue-1;
  }

  @media (max-width: $desktop-width - 1) {
    width: 280px;
    padding: 14px 15px;
  }

  @media (max-width: $mobile-only-width) {
    width: 290px;
    margin-bottom: 31px;
  }
}

.feedback__form-consent-checkbox-wrap {
  display: flex;
  align-items: center;
}


.feedback__form-consent-checkbox-wrap label {
  font-family: "PT Mono";
  font-size: 14px;
  line-height: 16px;
  color: $white;

  opacity: 0.8;
  cursor: pointer;

  display: inline-flex;
  vertical-align: middle;
  width: 263px;

  &::before {
    content: "";
    width: 24px;
    height: 16px;
    border: 1px solid $white;
    display: block;
    margin-right: 21px;
  }

  @media (max-width: $desktop-width - 1) {
    width: 270px;
  }
}

.feedback__form-consent-checkbox-wrap input:checked + label::before {
  background-image: url("../img/checked.svg");
  background-size: 8px 5px;
  background-repeat: no-repeat;
  background-position: center;
}
