.feedback {
  background-color: $blue-1;
  background-image:
    url("../img/triangle235x235.svg"),
    url("../img/triangle373x373.svg");
  background-repeat: no-repeat;
  background-position:
    right 12px top 43px,
    right -78px bottom -21px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $desktop-width - 1) {
    background-image: none;
  }
}

.feedback__container {
  max-width: 1545px;
  width: 100%;
  padding: 91px 0 115px;
  position: relative;

  background-image: url("../img/group-triangles.svg");
  background-repeat: no-repeat;
  background-position: left -13px top -61px;

  @media (max-width: 1440px) {
    background-size: 503px auto;
    background-position: left 33px top -5px;
  }

  @media (max-width: 1300px) {
    background-size: 377px auto;
    background-position: left 64px top 37px;
  }

  @media (max-width: $desktop-width - 1) {
    background-image: none;

    padding: 80px calc(50% - 295px) 104px;
  }

  @media (max-width: $mobile-only-width) {
    padding: 30px 15px 41px;
  }
}

.feedback__container img {
  position: absolute;
  top: 161px;
  left: 162px;

  @media (max-width: 1440px) {
    width: 383px;
    height: auto;
  }

  @media (max-width: 1300px) {
    width: 287px;
    left: 115px;
  }

  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.feedback__wrap {
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 1300px) {
    width: 95%;
  }

  @media (max-width: $desktop-width - 1) {
    align-items: center;
    width: 100%;
  }
}

.feedback h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  margin: 0 0 10px;
  width: 570px;

  @media (max-width: $desktop-width - 1) {
    font-size: 32px;
    line-height: 45px;

    margin: 0 0 16px;
    width: 100%;
  }

  @media (max-width: $mobile-only-width) {
    font-size: 28px;
    line-height: 39px;

    margin: 0 0 14px;
  }
}

.feedback p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;

  margin: 0 0 51px;
  width: 570px;

  @media (max-width: $desktop-width - 1) {
    margin: 0 0 54px;
    width: 98%;
  }

  @media (max-width: $mobile-only-width) {
    margin: 0 0 25px;
  }
}

.feedback__form {
  min-width: 540px;

  @media (max-width: $desktop-width - 1) {
    margin-left: 7px;
  }

  @media (max-width: $mobile-only-width) {
    min-width: 100%;
    max-width: 280px;
    margin: 0;
  }
}

.feedback__form-inner-up-wrap {
  display: grid;
  grid-template-columns: 270px 270px;
  column-gap: 31px;
  margin-bottom: 30px;

  @media (max-width: $desktop-width - 1) {
    grid-template-columns: 280px 280px;
    column-gap: 32px;
  }

  @media (max-width: $mobile-only-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.feedback__form-inner-up-wrap input,
.feedback__form textarea {
  background-color: rgba($white, 0.1);
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;

  border: none;

  &:hover {
    outline: 1px solid $blue-2;
    outline-offset: 0;
    outline-style: auto;
  }
}

.feedback__form textarea {
  resize: none;
  padding: 11px 17px;
  margin-bottom: 42px;

  @media (max-width: $desktop-width - 1) {
    padding: 14px 36px 16px 19px;
  }

  @media (max-width: $mobile-only-width) {
    width: 100%;
    padding: 10px 46px 16px 17px;
    height: 102px;
    margin-bottom: 27px;
  }
}

.feedback__form-inner-up-wrap input {
  width: 270px;
  padding: 11px 16px 17px;
  margin-bottom: 10px;

  @media (max-width: $desktop-width - 1) {
    width: 280px;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-only-width) {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 19px;
  }
}

.feedback__form-inner-up-wrap input:focus,
.feedback__form textarea:focus {
  color: $black;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  background-color: $white;
}

.feedback__form input::placeholder,
.feedback__form textarea::placeholder {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.feedback__form-inner-down-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-only-width) {
    flex-direction: column;
  }
}

.feedback__form-inner-down-wrap button {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;

  cursor: pointer;

  background-color: transparent;

  text-align: center;
  border: 1px solid $white;
  border-radius: 5px;
  width: 270px;
  padding: 12px 15px;

  &:hover {
    background-color: $white;
    color: $blue-1;
  }

  @media (max-width: $desktop-width - 1) {
    width: 280px;
    padding: 14px 15px;
  }

  @media (max-width: $mobile-only-width) {
    width: 290px;
    margin-bottom: 31px;
  }
}

.feedback__form-consent-checkbox-wrap {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;

  list-style: none;

  @media (max-width: $mobile-only-width) {
    margin-right: 20px;
  }
}

.feedback__form-consent-checkbox-wrap label {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $white;

  opacity: 0.8;
  cursor: pointer;

  display: inline-flex;
  vertical-align: middle;
  width: 263px;

  &::before {
    content: "";
    width: 24px;
    height: 16px;
    border: 1px solid $white;
    display: block;
    margin-right: 21px;
  }

  @media (max-width: $desktop-width - 1) {
    width: 270px;
  }
}

.feedback__form-consent-checkbox-wrap input {
  right: 258px;
  bottom: 0;
}

.feedback__form-consent-checkbox-wrap input:checked + label::before {
  background-image: url("../img/checked.svg");
  background-size: 8px 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__form-consent-checkbox-wrap input:focus + label::before {
  outline: 1px solid $orange;
}
