.page-footer {
  background-color: $white-1;

  padding: 63px calc(50% - 708px) 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media (max-width: 1440px) {
    padding: 63px calc(50% - 488px) 0;
  }

  @media (max-width: $desktop-width - 1) {
    flex-direction: column;
    padding: 16px calc(50% - 361px) 0;
  }

  @media (max-width: $mobile-only-width) {
    padding: 44px 0 0;
  }
}

.page-footer__wrapper {
  display: flex;
  margin-bottom: 57px;

  @media (max-width: $desktop-width - 1) {
    flex-direction: column;
    margin-bottom: 64px;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 22px;
  }
}

.page-footer__upper-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 209px;

  @media (max-width: 1440px) {
    margin-right: 46px;
  }

  @media (max-width: $desktop-width - 1) {
    display: grid;
    grid-template-columns: 303px 305px 1fr;
    margin-right: 0;
    padding-bottom: 26px;
    align-items: center;

    &::before {
      content: "";
      width: 100vw;
      height: 1px;
      position: absolute;
      left: 0;
      top: 95px;
      opacity: 0.2;
      background-color: $grey;
    }
  }

  @media (max-width: $mobile-only-width) {
    grid-template-columns: 233px;
    padding-bottom: 48px;
    justify-content: center;

    &::before {
      top: 260px;
    }
  }
}

.page-footer__middle-wrap {
  display: grid;
  grid-template-columns: 487px 333px;
  grid-template-rows: 145px;
  column-gap: 169px;

  @media (max-width: 1440px) {
    grid-template-columns: 487px 197px;
    grid-template-rows: 186px;
    column-gap: 30px;
  }

  @media (max-width: $desktop-width - 1) {
    grid-template-columns: 347px 333px;
    padding-top: 32px;
  }

  @media (max-width: $mobile-only-width) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 0;
  }
}

.page-footer__down-wrap {
  padding: 14px 0;
  display: flex;

  &::before {
    content: "";
    width: 100vw;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 49px;
    opacity: 0.2;
    background-color: $grey;

    @media (max-width: $desktop-width - 1) {
      bottom: 69px;
    }

    @media (max-width: $mobile-only-width) {
      bottom: 121px;
    }
  }

  @media (max-width: 1440px) {
    grid-template-columns: 200px 303px 281px 1fr;
  }

  @media (max-width: $desktop-width - 1) {
    grid-template-columns: auto;
    justify-content: space-between;
    padding: 24px 0;
  }

  @media (max-width: $mobile-only-width) {
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__down-wrap-item--none {
  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.page-footer__sections-wrap {
  @media (max-width: $mobile-only-width) {
    &::before {
      content: "";
      width: 100vw;
      height: 1px;
      position: absolute;
      left: 0;
      top: 333px;
      opacity: 0.2;
      background-color: $grey;
    }
  }
}

.page-footer__sections {
  height: 129px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: $desktop-width - 1) {
    height: auto;
  }

  @media (max-width: $mobile-only-width) {
    display: none;
  }
}

.page-footer__section {
  margin-bottom: 1px;
  margin-right: 25px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.page-footer__socials {
  display: grid;
  grid-template-columns: repeat(3,max-content);
  column-gap: 16px;

  @media (max-width: $mobile-only-width) {
    transform: translateX(27%);
    width: 217px;
  }
}

.page-footer__social {
  margin-bottom: 5px;
}

.page-footer__social a {
  display: inline-flex;
  vertical-align: middle;
}

.page-footer__social--fb:hover svg {
    fill: blue;
}

.page-footer__logo-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  min-width: 216px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-only-width) {
    padding-left: 8px;
    margin-bottom: 20px;
  }
}

.page-footer__logo-icon-wrap {
  margin-right: 16px;
}

.page-footer p,
.page-footer h3 {
  margin: 0;
}

.page-footer h3 {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $black-2;

  margin-bottom: 24px;

  @media (max-width: $mobile-only-width) {
    margin-bottom: 0;
    padding: 31px 15px 25px;
    position: relative;

    &::before,
    &::after {
      content: "";
      background-color: $grey-1;

      position: absolute;
    }

    &::before {
      width: 16px;
      height: 1px;
      right: 17px;
      top: 38px;
    }

    &::after {
      width: 1px;
      height: 16px;
      right: 25px;
    }
  }
}

.page-footer__accordion-item.active h3 {
  @media (max-width: $mobile-only-width) {
    &::before {
      content: "";
      background-color: $grey-1;

      position: absolute;
      width: 16px;
      height: 1px;
      right: 17px;
      top: 38px;
    }

    &::after {
      content: none;
    }
  }
}

.page-footer__accordion-item.no-js h3 {
  @media (max-width: $mobile-only-width) {
    &::after,
    &::before {
      content: none;
    }
  }
}

.page-footer__accordion-item-body {
  @media (max-width: $mobile-only-width) {
    display: none;
  }
}

.page-footer__accordion-item.active .page-footer__accordion-item-body {
  @media (max-width: $mobile-only-width) {
    display: block;
    padding: 8px 17px 8px 16px;
  }
}

.page-footer__accordion-item.no-js .page-footer__accordion-item-body {
  @media (max-width: $mobile-only-width) {
    display: block;
    padding: 8px 17px 8px 16px;
  }
}

.page-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer a,
.page-footer__address-block p {
  font-family: "PT Mono";
  font-size: 15px;
  line-height: 25px;
  color: $black-2;
  opacity: 0.5;
}

.page-footer a {
  letter-spacing: 0.03em;

  &:hover {
    text-decoration: underline;
  }
}

.page-footer__logo-name {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: $black-1;
}

.page-footer__logo-slogan {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $blue;
}

.page-footer__upper-wrap > p {
  display: none;

  @media (max-width: $desktop-width - 1) {
    font-family: "PT Mono";
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $black-2;
    opacity: 0.5;

    display: block;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 31px;
  }
}

.page-footer__down-wrap p {
  font-family: "PT Mono";
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $black-2;
  opacity: 0.5;

  &:first-of-type {
    margin-right: 75px;
  }

  &:nth-of-type(2) {
    margin-right: 140px;
  }

  &:nth-of-type(3) {
    margin-right: 407px;
  }

  @media (max-width: 1440px) {
    &:first-of-type {
      margin-right: 25px;
    }

    &:nth-of-type(2) {
      margin-right: 46px;
    }

    &:nth-of-type(3) {
      margin-right: 114px;
    }
  }

  @media (max-width: $mobile-only-width) {
    &:nth-of-type(3) {
      margin-right: 0;
      margin-bottom: 21px;
    }
  }
}
