.page-body--no-scroll {
  overflow-y: hidden;
}

.page-body__shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.page-body__shadow.active {
  display: block;
}

.page-body__header-wrap {
  background-image: url("../img/chips-bg-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $green;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/chips-bg-3@2x.png");
    background-size: cover;
    background-position: center;
  }
}

.page-body__page-header {
  margin-bottom: 114px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 7px;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 10px;
  }
}
