.page-body--no-scroll {
  overflow-y: hidden;
}

.page-body__shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.page-body__shadow.active {
  display: block;
}

.page-body__header-wrap {
  background-image:
    url("../img/chips-bg.png"),
    url("../img/header-triangles.svg"),
    url("../img/chips-bg-3.png");
  background-repeat: no-repeat;
  background-size:
    705px 515px,
    671px 641px,
    cover;
  background-position:
    right 32% bottom 103px,
    right 32% bottom 119px,
    center;
  background-color: $green;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/chips-bg@2x.png"),
      url("../img/header-triangles.svg"),
      url("../img/chips-bg-3@2x.png");
    background-size:
      705px 515px,
      671px 641px,
      cover;
    background-position:
      right 32% bottom 103px,
      right 32% bottom 119px,
      center;
  }

  @media (max-width: 2400px) {
    background-image:
      url("../img/chips-bg.png"),
      url("../img/header-triangles.svg"),
      url("../img/chips-bg-3.png");
    background-size:
      705px 515px,
      671px 641px,
      cover;
    background-position:
      right 15% bottom 103px,
      right 219px bottom 119px,
      center;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/chips-bg@2x.png"),
        url("../img/header-triangles.svg"),
        url("../img/chips-bg-3@2x.png");
      background-size:
        705px 515px,
        671px 641px,
        cover;
      background-position:
        right 15% bottom 103px,
        right 219px bottom 119px,
        center;
    }
  }

  @media (max-width: 1440px) {
    background-image:
      url("../img/chips-bg.png"),
      url("../img/header-triangles.svg"),
      url("../img/chips-bg-3.png");
    background-repeat: no-repeat;
    background-size:
      705px 515px,
      671px 641px,
      cover;
    background-position:
      right -115px bottom 15px,
      right 219px bottom 119px,
      center;
  }

  @media (max-width: $desktop-width - 1) {
    background-image:
      url("../img/chips-bg-tablet.png"),
      url("../img/header-triangles.svg"),
      url("../img/chips-bg-3.png");
    background-repeat: no-repeat;
    background-size:
      260px 340px,
      529px 506px,
      cover;
    background-position:
      right 0 top 114px,
      right -199px top -39px,
      center;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/chips-bg-tablet@2x.png"),
        url("../img/header-triangles.svg"),
        url("../img/chips-bg-3@2x.png");
      background-size:
        260px 340px,
        529px 506px,
        cover;
      background-position:
        right 0 top 114px,
        right -199px top -39px,
        center;
    }
  }

  @media (max-width: $mobile-only-width) {
    background-image:
      url("../img/chips-bg-mobile.png"),
      url("../img/header-triangles.svg"),
      url("../img/chips-bg-3.png");
    background-repeat: no-repeat;
    background-size:
      294px 220px,
      505px 483px,
      cover;
    background-position:
      right 0 top 92px,
      right -337px top -46px,
      center;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/chips-bg-mobile@2x.png"),
        url("../img/header-triangles.svg"),
        url("../img/chips-bg-3@2x.png");
      background-size:
        294px 220px,
        505px 483px,
        cover;
      background-position:
        right 0 top 92px,
        right -337px top -46px,
        center;
    }
  }
}

.page-body__page-header {
  margin-bottom: 226px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 116px;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 232px;
  }
}
