.page-footer {
  background-color: $white-1;
}

.page-footer__wrapper {
  display: flex;
  padding: 64px calc(50% - 708px) 59px;

  @media (max-width: 1440px) {
    padding: 64px calc(50% - 488px) 59px;
  }

  @media (max-width: $desktop-width - 1) {
    padding: 0;
    margin-bottom: 38px;
    flex-direction: column;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 15px;
  }
}

.page-footer p,
.page-footer h3 {
  margin: 0;
}

.page-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer__logo-wrap {
  display: flex;
  align-items: center;
  min-width: 216px;
  margin-bottom: 50px;

  @media (max-width: $desktop-width - 1) {
    margin: 0 87px 0 0;
  }

  @media (max-width: $mobile-only-width) {
    margin: 0 0 23px 0;
  }
}

.page-footer__logo-icon-wrap {
  margin-right: 16px;
}

.page-footer__logo-name {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: $black-1;
}

.page-footer__logo-slogan {
  font-family: "Roboto", "Arial", serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $blue;
}

.page-footer__socials {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 16px;
}

.page-footer__social {
  margin-bottom: 5px;
}

.page-footer__social a {
  display: inline-flex;
}

.page-footer__social svg {
  fill: $grey-2;
}

.page-footer__social--fb:hover svg {
  fill: $fb-icon;
}

.page-footer__social--ok:hover svg {
  fill: $ok-icon;
}

.page-footer__social--vk:hover svg {
  fill: $vk-icon;
}

.page-footer__sections-wrap {
  margin-right: 63px;

  @media (max-width: $desktop-width - 1) {
    margin-right: 87px;
  }

  @media (max-width: $mobile-only-width) {
    margin-right: 0;
    position: relative;
    overflow-x: hidden;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      bottom: 0;
      position: absolute;
      background-color: $grey;
      opacity: 0.2;
    }
  }
}

.page-footer__sections {
  column-count: 2;

  @media (max-width: $desktop-width - 1) {
    column-count: 1;
  }

  @media (max-width: $mobile-only-width) {
    display: none;
  }
}

.page-footer__section {
  margin-right: 44px;
}

.page-footer__accordion a,
.page-footer__address-block p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: $black-2;
  opacity: 0.5;
}

.page-footer__accordion a {
  letter-spacing: 0.03em;

  &:hover {
    text-decoration: underline;
  }
}

.page-footer__accordion h3 {
  font-size: 15px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $black-2;

  margin-bottom: 24px;

  @media (max-width: $mobile-only-width) {
    margin-bottom: 0;
    padding: 31px 15px 25px;
    position: relative;

    &::before,
    &::after {
      content: "";
      background-color: $grey-1;

      position: absolute;
    }

    &::before {
      width: 16px;
      height: 1px;
      right: 17px;
      top: 38px;
    }

    &::after {
      width: 1px;
      height: 16px;
      right: 25px;
    }
  }
}

.page-footer__accordion-item.active h3 {
  @media (max-width: $mobile-only-width) {
    &::before {
      content: "";
      background-color: $grey-1;

      position: absolute;
      width: 16px;
      height: 1px;
      right: 17px;
      top: 38px;
    }

    &::after {
      content: none;
    }
  }
}

.page-footer__accordion-item.no-js h3 {
  @media (max-width: $mobile-only-width) {
    &::after,
    &::before {
      content: none;
    }
  }
}

.page-footer__accordion-item-body {
  @media (max-width: $mobile-only-width) {
    display: none;
  }
}

.page-footer__accordion-item.active .page-footer__accordion-item-body {
  @media (max-width: $mobile-only-width) {
    display: block;
    padding: 8px 17px 8px 16px;
  }
}

.page-footer__accordion-item.no-js .page-footer__accordion-item-body {
  @media (max-width: $mobile-only-width) {
    display: block;
    padding: 8px 17px 8px 16px;
  }
}

.page-footer__upper-wrap {
  margin-right: 208px;

  @media (max-width: 1440px) {
    margin-right: 46px;
  }

  @media (max-width: $desktop-width - 1) {
    margin-right: 0;
    position: relative;
    overflow-x: hidden;
    margin-bottom: 37px;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      bottom: 0;
      position: absolute;
      background-color: $grey;
      opacity: 0.2;
    }
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 0;
  }
}

.page-footer__upper-inner-wrap {
  @media (max-width: $desktop-width - 1) {
    padding: 17px calc(50% - 360px) 24px;
    display: flex;
    align-items: center;
  }

  @media (max-width: $mobile-only-width) {
    flex-direction: column;
    padding: 45px 0 45px;
    align-items: center;
  }
}

.page-footer__upper-inner-wrap .page-footer__inner-wrap-item-none {
  display: none;

  @media (max-width: $desktop-width - 1) {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $black-2;
    opacity: 0.5;

    display: block;
    margin-right: 71px;
  }

  @media (max-width: $mobile-only-width) {
    margin: 0 0 32px;
    padding: 0 10px;
  }
}

.page-footer__middle-wrap {
  display: flex;

  @media (max-width: $desktop-width - 1) {
    flex-direction: row;
    padding: 0 calc(50% - 360px);
  }

  @media (max-width: $mobile-only-width) {
    flex-direction: column;
  }
}

.page-footer__down-wrap {
  position: relative;
  overflow-x: hidden;
  padding: 14px 0;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    top: 0;
    position: absolute;
    background-color: $grey;
    opacity: 0.2;
  }

  @media (max-width: $mobile-only-width) {
    padding: 21px 0;
  }
}

.page-footer__down-inner-wrap {
  display: grid;
  grid-template-columns: 225px 375px 621px 1fr;
  padding: 0 calc(50% - 708px);

  @media (max-width: 1440px) {
    display: flex;
    justify-content: space-between;
    padding: 0 calc(50% - 488px);
  }

  @media (max-width: $desktop-width - 1) {
    padding: 8px calc(50% - 358px);
  }

  @media (max-width: $mobile-only-width) {
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
  }
}

.page-footer__down-wrap p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $black-2;
  opacity: 0.5;

  @media (max-width: $desktop-width - 1) {
    margin-right: 10px;

    &:last-of-type {
      margin: 0 0 0 85px;
    }
  }

  @media (max-width: $mobile-only-width) {
    margin: 0 0 18px 0;
    text-align: center;

    &:last-of-type {
      margin: 0;
    }
  }
}

.page-footer__down-wrap-item-none {
  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}
