.promo {
  padding: 116px 0 127px;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;

  @media (max-width: $desktop-width - 1) {
    padding-left: calc(50% - 480px);
  }

  @media (max-width: $desktop-width - 1) {
    padding: 109px 0 163px calc(50% - 296px);
    display: block;
  }

  @media (max-width: $mobile-only-width) {
    padding: 222px 15px 70px;

    overflow-x: initial;
  }
}

.promo__container {
  position: relative;
  width: 100%;
  max-width: 1427px;

  @media (max-width: 1440px) {
    width: 97%;
  }

  @media (max-width: $desktop-width - 1) {
    width: 100%;
  }
}

.promo__wrap {
  display: flex;
  flex-direction: column;
}

.promo * {
  z-index: 1;
}

.promo__img-container {
  background-image: url("../img/header-triangles.svg");
  background-repeat: no-repeat;
  background-position: right 43px top -140px;

  position: absolute;
  top: -57px;
  right: -70px;
  z-index: 0;

  @media (max-width: $desktop-width - 1) {
    background-image: url("../img/header-triangles.svg");
    background-repeat: no-repeat;
    background-position: right -201px top -120px;
    background-size: 529px 506px;

    top: -107px;
    right: 0;
    width: 342px;
    height: 506px;
  }

  @media (max-width: $mobile-only-width) {
    background-size: 505px 483px;
    background-position: right -337px top -106px;

    top: -226px;
    right: -15px;
  }
}

.promo__img-container img {
  @media (max-width: $desktop-width - 1) {
    width: 260px;
    height: 340px;
    position: absolute;
    right: 0;
    top: 32px;
  }

  @media (max-width: $mobile-only-width) {
    width: 294px;
    height: 220px;
  }
}

.promo h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  margin: 0 0 29px;
  width: 54%;

  @media (max-width: $desktop-width - 1) {
    font-size: 60px;
    line-height: 70px;
    width: 393px;
    word-break: break-word;
  }

  @media (max-width: $mobile-only-width) {
    font-size: 40px;
    line-height: 47px;

    width: 75%;
    margin: 0 0 27px;
  }
}

.promo p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 22px;
  line-height: 34px;
  text-transform: lowercase;

  width: 54%;
  margin: 0 0 43px;
  padding: 0 0 0 100px;
  position: relative;

  &::before {
    content: "";
    background-color: $white;
    width: 66px;
    height: 2px;
    position: absolute;
    left: 5px;
    top: 14px;

    @media (max-width: $desktop-width - 1) {
      width: 33px;
      left: 3px;
      top: 16px;
    }
  }

  @media (max-width: 1370px) {
    width: 52%;
  }

  @media (max-width: 1200px) {
    width: 38%;
  }

  @media (max-width: $desktop-width - 1) {
    font-size: 18px;
    line-height: 28px;

    width: 547px;
    padding: 0 0 0 51px;
    margin: 0 0 55px;
  }

  @media (max-width: $mobile-only-width) {
    font-size: 16px;
    line-height: 25px;

    width: 100%;
    padding: 0 0 0 47px;
    margin: 0 0 40px;
  }
}

.promo .promo__to-feedback-block {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;

  background-color: $blue-1;

  text-align: center;
  width: 407px;
  padding: 17px 28px 19px;
  margin-left: 100px;
  margin-bottom: 133px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    opacity: 0.9;
  }

  @media (max-width: $desktop-width - 1) {
    margin-left: 50px;
    margin-bottom: 0;
    width: 379px;
    padding-bottom: 18px;
  }

  @media (max-width: $mobile-only-width) {
    width: 287px;
    margin: 0;
  }
}

.promo__to-feedback-link-not-mobile {
  display: inline-block;
  vertical-align: middle;

  @media (max-width: $mobile-only-width - 1) {
    display: none;
  }
}

.promo__to-feedback-link-mobile {
  display: none;

  @media (max-width: $mobile-only-width - 1) {
    display: inline-block;
    vertical-align: middle;
  }
}

.promo .promo__to-advantages-block {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.5;

  transform: rotate(-90deg) translateY(-31px);
  width: max-content;

  &:hover {
    opacity: 1;
  }

  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}
