*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $white;

  background-color: $white;

  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}
