// colors

$white: #ffffff;
$white-1: #fafafa;

$grey: #626962;
$grey-1: #c4c4c4;
$grey-2: #cdcdcd;
$grey-3: #ebebeb;

$black: #000000;
$black-1: #203c42;
$black-2: #1b2d37;
$black-3: #666666;

$blue: #788891;
$blue-1: #00b2ff;

$fb-icon: #3b5998;
$ok-icon: #ffa500;
$vk-icon: #597da3;

// viewports

$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
$extra-desktop-width: 1920px;
